[Unit]
Description=Dispmanx VNC

[Service]
Type=simple
User=root
ExecStart=/usr/local/bin/dispmanx_vncserver 
StandardOutput=null
StandardError=syslog

[Install]
WantedBy=multi-user.target
